@media screen and (max-width: 2650px) and (min-width: 2000px) {
  body {
    margin: 0;
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
  }

  /*=============== NAVBAR ===============*/

  nav {
    overflow: hidden;
    width: 100%;
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 99;
    display: flex;
    justify-content: flex-end;
  }

  .topnav a {
    display: inline-block;
    color: whitesmoke;
    padding: 5rem 5rem;
    text-decoration: none;
    font-size: 3rem;
  }

  .topnav a:hover {
    color: darkgrey;
    text-decoration: underline;
  }

  /*=============== NAVBAR GRAY ===============*/

  nav.gray {
    background-color: lightgray;
    transition-duration: 0.2s;
  }

  nav.gray a {
    color: darkgray;
  }

  nav.gray .bio {
    color: black;
    text-decoration: underline;
  }

  nav.gray a:hover {
    color: black;
    text-decoration: underline;
  }

  /*=============== NAVBAR BLUE / GRADIENT ===============*/

  nav.blue {
    background-color: #002da7;
  }

  nav.blue a {
    color: #657fc8;
    /* color: whitesmoke; */
  }

  nav.blue .cv {
    color: white;
    text-decoration: underline;
  }

  /*=============== LOGO ===============*/

  .logo {
    margin: -1.5rem 0 0 2rem;
  }

  .logo:hover {
    border-bottom: 3px solid rgb(219, 205, 205);
  }

  .topnav a.active > .logo {
    float: left;
    background-color: black;
  }

  .topnav .icon {
    display: none;
  }

  /*=============== WERK ===============*/

  #werk {
    background-color: black;
    height: 100vh;
    padding-bottom: 10rem;
  }

  .middle-content {
    text-align: center;
  }

  .gallery-container {
    padding-bottom: 30rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .gallery-container .image {
    margin: 13rem 1rem -12rem;
  }

  /*---- LINK ---- */

  .image-link {
    color: darkgrey;
    text-decoration: none;
    padding-left: 1rem;
    font-size: 2rem;
  }

  .image > p {
    font-size: 2rem;
  }

  a:hover {
    text-decoration: underline;
  }

  /*---- GIF ---- */

  img.static {
    width: 50rem;
    height: 26.95rem;
  }

  .static {
    position: absolute;
  }

  .static:hover {
    opacity: 0;
  }

  img.active {
    width: 50rem;
    height: 26.95rem;
  }

  /*=============== BIO ===============*/

  #Bio {
    height: 100vh;
    background-color: lightgray;
    color: black;
    padding: 10rem 0 -10rem 0;
  }

  .bio-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .bio_foto {
    padding: 20rem 0 0 5rem;
  }

  .smiley {
    position: absolute;
    top: 212%;
    left: 29.5%;
    width: 130px;
    height: 130px;
    margin: -60px 0 0 -60px;
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
  }
  @-moz-keyframes spin {
    100% {
      -moz-transform: rotate(360deg);
    }
  }
  @-webkit-keyframes spin {
    100% {
      -webkit-transform: rotate(360deg);
    }
  }
  @keyframes spin {
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  .bio_title {
    position: absolute;
    font-size: 8rem;
    width: 45%;
    left: 15rem;
    letter-spacing: -0.28rem;
    margin-top: 13.1rem;
    font-weight: 650;
    line-height: 5.5rem;
  }

  .bio_text {
    width: 50rem;
    margin: 40rem 0 0 3rem;
    font-size: 2rem;
    letter-spacing: -0.05rem;
    line-height: 3rem;
    font-family: Poppins, sans-serif;
  }

  .skill-container {
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
    padding-top: 0;
    margin: -100px 0 0 770px;
    text-align: left;
    justify-self: auto;
    width: 35%;
  }

  .skill {
    font-size: 13px;
    font-family: Poppins, sans-serif;
    display: inline-block;
    margin: 0 10px 10px 0;
    padding: 0 10px 0 10px;
    border: 1px solid darkgray;
    border-radius: 8px;
    opacity: 1;
    color: black;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 42px;
  }

  mark {
    background-color: #eaff00;
    opacity: 90%;
  }

  /*=============== BIO / CV ===============*/

  #CV {
    height: 75vh;
    background-color: #002da7;
    padding: 4rem 5rem 9rem;
  }

  .edu {
    display: flex;
    flex-direction: column;
    font-family: Poppins, sans-serif;
    width: 45%;
    height: 100%;
    font-size: 3rem;
    padding: 0px 0 0 50px;
    line-height: 5rem;
    flex-wrap: wrap;
    margin: 1.5rem 0 1.5rem 0;
  }

  /*=============== CONTACT ===============*/

  #Contact {
    height: 15vh;
    background-color: black;
    color: darkgray;
  }

  .footer-container {
    /* margin-top:1rem; */
    padding: 3rem 0 0 5rem;
    display: flex;
    justify-content: space-around;
  }

  .footer-contact {
    font-size: 3rem;
    font-family: Poppins, sans-serif;
    line-height: 3rem;
    text-decoration: underline;
  }

  .footer-socials {
    font-size: 2rem;
    line-height: 8rem;
    font-family: Poppins, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    display: block;
    padding-right: 30rem;
  }

  .footer-socials > a {
    display: inline-block;
    margin: 0 4rem 0 0;
    text-decoration: none;
    color: darkgray;
  }

  .footer-socials a:hover {
    text-decoration: underline;
  }

  .contact {
    color: darkgray;
  }

  i {
    color: linear-gradient(
      11deg,
      rgba(233, 186, 179, 1) 19%,
      rgba(149, 188, 227, 1) 100%
    );
    width: 20%;
    padding-right: 8px;
  }
  .footer-copyright {
    display: flex;
    justify-content: flex-end;
    font-family: Poppins, sans-serif;
    font-size: 11px;
    padding: 0 0px 0px 20px;
    margin-top: -10px;
  }
}

@media screen and (max-width: 2000px) and (min-width: 1900px)  {
  .gallery-container {
    padding-bottom: 30rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .gallery-container .image {
    margin: 13rem 1rem -12rem;
  }

    /*---- GIF ---- */

    img.static {
      width: 37rem;
      height: 21rem;
    }
  
    .static {
      position: absolute;
    }
  
    .static:hover {
      opacity: 0;
    }
  
    img.active {
      width: 37rem;
      height: 21rem;
    }

    .image-link {
      color: darkgrey;
      text-decoration: none;
      padding-left: 1rem;
      font-size: 1.5rem;
    }
  
    .image > p {
      font-size: 1.5rem;
    }

    #CV {
      height: 70vh;
      background-color: #002da7;
      padding: 4rem 5rem 9rem;
    }

    .edu {
      display: flex;
      flex-direction: column;
      font-family: Poppins, sans-serif;
      width: 45%;
      height: 100%;
      font-size: 2rem;
      padding: 0px 0 0 50px;
      line-height: 3rem;
      flex-wrap: wrap;
      margin: 1.5rem 0 1.5rem 0;
    }

    .footer-container {
      /* margin-top:1rem; */
      padding: 3rem 0 0 0rem;
      display: flex;
      justify-content: space-around;
    }

}