@media screen and (min-width:10em) {
body {
    margin: 0;
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
  }

  /*=============== NAVBAR ===============*/

  nav {
    overflow: hidden;
    width: 100%;
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 99;
    display: flex;
    justify-content: flex-end;
  }

  .topnav a {
    display: inline-block;
    color: whitesmoke;
    padding: 2rem 2rem;
    text-decoration: none;
    font-size: 1.3rem;
  }

  /* .topnav a {
    display: inline-block;
    color: whitesmoke;
    padding: 5rem 5rem;
    text-decoration: none;
    font-size: 3rem;
  } */

  .topnav a:hover {
    color: darkgrey;
    text-decoration: underline;
  }


 /*=============== NAVBAR GRAY ===============*/

  nav.gray {
    background-color: lightgray;
    transition-duration: 0.2s;
  }

  nav.gray a {
    color: darkgray;
  }

  nav.gray .bio {
    color: black;
    text-decoration: underline;
  }

  nav.gray a:hover {
    color: black;
    text-decoration: underline;
  }

 /*=============== NAVBAR BLUE / GRADIENT ===============*/

  nav.blue {
    background-color: #002da7;
  }

  nav.blue a {
    color: #657fc8;
    /* color: whitesmoke; */
  }

  nav.blue .cv {
    color: white;
    text-decoration: underline;
  }



   /*=============== LOGO ===============*/

  /* .logo{
    margin-left: 10px;
  } */

  .logo{
    margin: 0 0 0 1rem;
    width: 30%;
  }

  .logo:hover {
    border-bottom: 3px solid rgb(219, 205, 205);
  }

  .topnav a.active > .logo {
    float: left;
    background-color: black;
  }

  .topnav .icon {
    display: none;
  }

  /*=============== WERK ===============*/

  #werk {
    background-color: black;
    height: 100vh;
    padding-bottom: 5rem;
    padding-top: 0.5rem;
  }

  /* #werk {
    background-color: black;
    padding-top: 50px;
    padding-bottom: 80px;
  } */


  .middle-content {
    text-align: center;
  }

  /* .gallery-container {
    padding-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  } */

  .gallery-container {
    padding-bottom: 30rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  /* .gallery-container .image {
    width: 400px;
    height: 245px;
    margin: 30px 10px;
  } */

  .gallery-container .image {
    /* width: 400px;
    height: 245px; */
    margin: 6rem 0.5rem -6rem;
  }

  /*---- LINK ---- */

  /* .image-link {
    color: darkgrey;
    text-decoration: none;
    padding-left: 10px;
    font-size: 18px;
  } */

  .image-link {
    color: darkgrey;
    text-decoration: none;
    padding-left: 1rem;
    font-size: 1rem;
  }

  .image > p {
    font-size: 1rem;
  }

  a:hover {
    text-decoration: underline;
  }

  /*---- GIF ---- */

  img.static {
    width: 25rem;
    height: 14.48rem;
  }

  .static {
    position:absolute;
  }

  .static:hover {
    opacity:0;
  }

  img.active {
    width: 25rem;
    height: 14.48rem;
  }





 /*=============== BIO ===============*/

  /* #Bio{
    height: 100vh;
    background-color:lightgray;
    color: black;
    padding-top: 60px;
  }   */

  #Bio{
    height: 100vh;
    background-color:lightgray;
    color: black;
    padding-bottom: 3rem;
  }

  .bio-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .bio_foto {
    width: 45%;
    height: 35%;
    /* padding: 15rem 0 0 -2rem; */
    margin: 11rem 0 0 ;
  }

  /* .bio_title {
    position: absolute;
    font-size: 3rem;
    width: 35%;
    left: 15rem;
    letter-spacing: -0.28rem;
    margin-top: 13.1rem;
    font-weight: 650;
    line-height: 2.5rem;
  } */


    .bio_title {
    position: absolute;
    font-size: 3.5rem;
    width: 35%;
    left: 6rem;
    letter-spacing: -0.28rem;
    margin-top: 7rem;
    font-weight: 650;
    line-height: 3rem;
  }


  
  .bio_text {
    width: 24rem;
    margin: 18rem 0 0 2rem;
    font-size: 0.9rem;
    letter-spacing: -0.05rem;
    line-height: 1.9rem;
    font-family: Poppins,sans-s erif;
  }




  /* .bio_text {
    width: 50rem;
    margin: 40rem 0 0 3rem;
    font-size: 2rem;
    letter-spacing: -0.05rem;
    line-height: 3rem;
    font-family: Poppins,sans-serif;
  } */


  /*=============== BIO / CV ===============*/

  #CV{
    height: 60vh;
    background-color: #002da7;
    padding: 2rem 3rem 7rem;
  }

  /* .edu {
    display: flex;
    flex-direction: column;
    font-family: Poppins,sans-serif;
    width: 45%;
    height: 100%;
    font-size: 25px;
    padding: 0px 0 0 50px;
    line-height: 35px;
    flex-wrap: wrap;
    margin-top: -20px;
  } */


  .edu {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    font-family: Poppins,sans-serif;
    width: 45%;
    height: 100%;
    font-size: 1.5rem;
    line-height: 2rem;
    flex-wrap: wrap;
    margin: 3.5rem 0 0rem 0;
  }

  /*=============== CONTACT ===============*/

  #Contact {
    /* padding-top: 20px; */
    height: 15vh;
    background-color:black;
    color: darkgray;
  }


  /* .footer-container {
    margin-top:50px;
    display: flex;
    justify-content: space-around;
  } */


  .footer-container {
    /* margin-top:1rem; */
    padding: 2.5rem 0 0 0rem;
    display: flex;
    justify-content: space-around;
  }




  /* .footer-contact {
    font-size: 35px;
    font-family: Poppins,sans-serif;
    line-height: 35px;
    text-decoration: underline;
  } */

  .footer-contact {
    font-size: 2rem;
    font-family: Poppins,sans-serif;
    line-height: 2rem;
    text-decoration: underline;
  }

  .footer-socials {
    font-size: 1.4rem;
    line-height: 6rem;
    font-family: Poppins,sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


  .footer-socials > a {
    display: inline-block;
    margin: 0 4rem 0 0;
    text-decoration: none;
    color: darkgray;
  }

  .footer-socials a:hover {

    text-decoration: underline;
  }

  /* .footer-socials-2 {
    width: 130px;
    font-size: 18px;
    line-height: 35px;
    font-family: Poppins,sans-serif;

  } */

  .contact {
    color: darkgray;
  }

 i {
   color: linear-gradient(11deg, rgba(233,186,179,1) 19%, rgba(149,188,227,1) 100%);
   width: 20%;
   padding-right: 8px;
 }
  .footer-copyright {
    display: flex;
    justify-content: flex-end;
    font-family: Poppins,sans-serif;
    font-size: 11px;
    padding: 0 0px 0px 20px;
    margin-top: -10px;

  }
}
