  body {
    margin: 0;
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: auto;
  }

  /*=============== NAVBAR ===============*/

  nav {
    overflow: hidden;
    width: 100%;
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 99;
  }

  .topnav a {
    float: right;
    display: block;
    color: whitesmoke;
    padding: 30px 30px;
    text-decoration: none;
    font-size: 20px;
  }
  
  .topnav a:hover {
    color: darkgrey;
    text-decoration: underline;
  }

 /*=============== NAVBAR GRAY ===============*/

  nav.gray {
    background-color: lightgray;
    transition-duration: 0.2s;
  }

  nav.gray a {
    color: darkgray;
  }

  nav.gray .bio {
    color: black;
    text-decoration: underline;
  }

  nav.gray a:hover {
    color: black;
    text-decoration: underline;
  }

 /*=============== NAVBAR BLUE / GRADIENT ===============*/

  nav.blue {
    /* background-color: #002da7; */
    background: rgb(233,186,179);
    background: linear-gradient(11deg, rgba(233,186,179,1) 19%, rgba(149,188,227,1) 100%);
    transition-duration: 0.2s;
  }

  nav.blue a {
    color: #657fc8;
  }

  nav.blue .bio {
    color: white;
    text-decoration: underline;
  }

   /*=============== LOGO ===============*/

  .logo{
    margin-left: 10px;
  }

  .logo:hover {
    border-bottom: 3px solid rgb(219, 205, 205);
  }
  
  .topnav a.active > .logo {
    float: left;
    background-color: black;
  }
  
  .topnav .icon {
    display: none;
  }

  /*=============== WERK ===============*/

  #werk {
    background-color: black;
    padding-top: 50px;
    padding-bottom: 80px;
  }


  .middle-content {
    text-align: center;
  }

  .gallery-container {
    padding-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .gallery-container .image {
    width: 400px;
    height: 245px;
    margin: 30px 10px;
  }

  /*---- LINK ---- */

  a {
    color: darkgrey;
    text-decoration: none;
    padding-left: 10px;
    font-size: 18px;
  }

  a:hover {
    text-decoration: underline;
  }

  /*---- GIF ---- */

  .static {
    position:absolute;
    /* background: white; */
  }

  .static:hover {
    opacity:0;
  }


 /*=============== BIO ===============*/

  #Bio{
    height: 100vh;
    background-color:lightgray;
    color: black;
    padding-top: 60px;
  }

  .bio-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .bio_foto {
    padding: 100px 0 0 80px;
  }

  .smiley {
    position: absolute;
    top: 212%;
    left: 29.5%;
    width: 130px;
    height: 130px;
    margin:-60px 0 0 -60px;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
  }
  @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
  @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
  @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

  .bio_title {
    position: absolute;
    font-size: 3.1rem;
    width: 45%;
    left: 42px;
    margin-top: 26px;
  }

  .bio_text {
    width: 420px;
    margin: 260px 0 0 20px;
    font-size: 15px;
    letter-spacing: -0.05rem;
    line-height: 32px;
    font-family: Poppins,sans-serif;
  }

  mark{
    /* background-color: #ff4520; */
    background-color: #eaff00;
    opacity: 90%;
  }

  /*=============== BIO / CV ===============*/

  .werkervaring {
    position: absolute;
    margin-top: 100px;
  }

  .contact_img {
    padding: 20px 0px 0px 40px;
  }

  .opleidingen > h2 {
    position: absolute;
    padding-top: 55px;
    font-size: 20px;
    font-family: Century Gothic;
    font-weight: lighter;
    margin-left: 50px;
    /* color: black; */
  }

  .skill-container {
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
    padding-top: 0;
    text-align: left;
    justify-self: auto;
    width: 40%;
    }
    
    .skill {
    font-family: Poppins,sans-serif;
    display: inline-block;
    margin: 0 10px 10px 0;
    padding: 0 10px 0 10px;
    border: 1px solid darkgray;
    border-radius: 8px;
    opacity: 1;
    color: black;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 42px;
    }
  
/*=============== CONTACT ===============*/

  #Contact{
    height: 70vh;
    /* background-color: #002da7; */
    background: rgb(238,186,174);
    background: linear-gradient(160deg, rgba(238,186,174,1) 0%, rgba(148,187,233,1) 100%);
  }

  #Contact > h2{
    padding-top: 55px;
  }

  /*=============== FOOTER ===============*/
  
  #Footer {
    padding-top: 20px;
    height: 20vh;
    background-color:black;
    color: darkgray;
  }

  #Footer > h1 {
    padding-left: 55px;
    font-size: 30px;
    font-family: Century Gothic;
    font-weight: lighter;
    line-height: 0px;
  }

  #Footer a {
    padding-left: 55px;
    font-size: 30px;
    font-family: Century Gothic;
    font-weight: lighter;
    line-height: 0px;
  }

/*=============== 600px ===============*/

  
@media screen and (max-width: 600px) {
  .topnav a {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .topnav.responsive a {
    float: none;
    display: inline-block;
    /* display: block; */
    text-align: left;
  }
}

@media screen and (max-width: 600px) {
  .logo {
    position: relative;
    width: 65%;
    left: 60px;
  } 
  .smiley {
    display: none;
  }
}


/*=============== 480px ===============*/


@media screen and (max-width: 480px) {
  .logo {
    position: relative;
    width: 70%;
    left: 45px;
  }
}

@media screen and (max-width: 480px) {
  .bio_foto {
    width: 70%;
    height: 20%;
  }
  .bio_title {
    width: 90%;
    font-size: 35px;
  }
  .bio_text {
    margin: 40px 0 0 10px;
    width: 90%;
    font-size: 14px;
  }
  .smiley {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .topnav.responsive a {
    float: none;
    display: inline-block;
    /* display: block; */
    text-align: left;

  }
}

/*=============== ? ===============*/

  /* .text_icons {
    display: flex;
    width: 50%;
  }

  .text_icons > p {
    display: inline-block;
    font-size: 1.5rem;
    line-height: 1;
    font-family: none;
    font-weight: bold;
    color: blue;
  } */

/*=============== ICONS TEXT ===============*/

/* .hover-title  {
color: #1737c0;
font-family: Sporting Grotesque;
font-style: normal;
line-height: 1.5;
letter-spacing: -0.05rem;
font-size: 1.5rem;
box-sizing: border-box;
text-align: left;
display: inline;
pointer-events: visible;
cursor: pointer;
}

sup {
  bottom: 1.6em;
  font-style: italic;
  font-weight: 400;
  font-family: "GT Super", Icons;
  margin-left: 0.2rem;
  letter-spacing: 0.06em;
}

sub, sup {
  font-size: 0.3em;
  position: relative;
  vertical-align: baseline;
}


.jat {
  width: 40%;
  position: absolute;
  margin: 320px 0px 0px 20px;
  display: inline-block;
} */


