body {
    background-color: black;
    font-family: Poppins,sans-s erif;
    color: white;
}

h1 {
    font-size: 40px;
    margin-left: 20px;
}

h2 {
    margin-left: 20px;
    font-size: 20px;
}

.content {
    margin-top: 100px;
}

.text {
    display: flex;
    flex-direction: row;
}

.tools {
    font-size: 15px;
    margin-left: 20px;
    line-height: 0.3;
}

.info {
    width: 74%;
    font-size: 21px;
    margin-left: 150px;
    line-height: 1.5;
}

.images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
}
img {
    width: 95%;
    margin-bottom: 80px;
}